* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.footer {
    margin-left: 200px;
    margin-right: 200px;
    width: auto;
    height: 273px;
    border-top: 1px solid rgb(187, 187, 187);
}

.footer-body {
    padding: 62px 0 48px;
}
a {
    text-decoration: none;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
}

.menu-item {
    margin: 28px 60px 0;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 700;
    color: #777E90;
}

.footer-motto {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 17px;
    margin-bottom: 14px;
}

.footer-email {
    height: 45px;
    border-radius: 60px;
    font-size: 14px;
}

.footer-arrow {
    position: absolute;
    right: 7px;
    width: 32px;
    top: -66px;
}

.line {
    background-color: #777e9042;
    height: 1px;
    width: auto;
}

.footer-coppyright {
    font-size: 12px;
    margin-top: 22px;
}
