.header {
    display: flex;
    align-items: center;
}
.navbar {
    width: 100%;
    padding: 25px 80px;
}
.navbar-left {
    display: flex;
    justify-content: flex-start;
    
}
.navbar-logo {
    padding-right: 50px;
    border-right: 1px solid #e3dfdf;
}
.navbar-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #777e90;
}

.navbar-feature__text {
}
.navbar-feature__icon {
    margin-left: 10px;
    
}
.navbar-feature:hover {
    color:#777e90;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-support {
    margin-right: 50px;
    color: #777e90;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
}
.navbar-support:hover {
    color: #000;
    cursor: pointer;
}
.navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border: 1px solid #e3dfdf;
    border-radius: 20px;
    background-color: #fff;
    color: #23262f;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
}
.navbar-button:hover {
    color: #fff;
    background-color: #23262f;
    cursor: pointer;
}
.navbar-notification {
    margin-left: 50px;
    border-radius: 50%;
    background-color: #f7f7f7;
    color: #777e90;
    line-height: 16px;
}
.navbar-notification:hover {
    color: #000;
    cursor: pointer;
}
.navbar-profile {
    margin-left: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #219cff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.navbar-profile:hover {
    color: #085ddb;
    cursor: pointer;
}
.navbar-profile-card {
    visibility: hidden;
    position: absolute;
}
.navbar-icon__center {
    font-size: 40px;
}
.background {
    position: relative;
}
.background-image {
    display: flex;
    justify-content: center;
}
.background-text {
    max-width: 600px;
    position: absolute;
    top: 80px;
    left: 80px;
}
.background-text__title {
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -1.92px;
    line-height: 96px;
    margin-bottom: 20px;
}
.background-text__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}
.background-text__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #219cff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.background-text__button:hover {
    background-color: #085ddb;
    cursor: pointer;
}
.search {
    position: absolute;
    border-radius: 24px;
    background-color: #fcfcfd;
    box-shadow: #0f0f0f 0px 40px 64px -32px;
    font-size: 14px;
    line-height: 24.0001px;
    width: 80%;
    height: 248px;
    bottom: -70px;
    margin: 0 10%;
}
.search-navbar {
    margin: 40px;
}

.search-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search-bar {
    display: flex;
}
.search-bar__icon {
    font-size: 25px;
}
.search-bar__text {
    margin-left: 10px;
    color: #23262f;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
}
.search-bar__subtext {
    color: #777e90;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
    color: #777e90;
}
.search-bar__icon__background {
    border-radius: 50%;
    background-color: #219cff;
    color: #f2f3f7;
    font-weight: 700;
    line-height: 16px;
    padding: 20px;
}

.nav-items__icon__position {
    margin-right: 10px;
}
.dropdown-menu.show{
    border-radius: 25px;
    
}
.dropdown-menu__show {
    width: 250px;
    padding: 16px;
    font-weight: 700;
    line-height: 2;
    border-radius: 25px;
    font-size: 16px;
    margin: unset;
    display: block;
    top: 40px;
}



.dropdown-item {
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
   
}
.btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: white;
}
.btn-secondary{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #e3dfdf;
border-radius: 20px;
background-color: #fff;
color: white;
font-size: 14px;
font-weight: 700;
line-height: 16px;
text-decoration: none;
}