.slider {
    position: absolute;
}
.img-text {
    position: relative;
    margin: 145px 80px;
    width: 600px;
}
.img-title {
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -1.92px;
    line-height: 96px;
    letter-spacing: -1.92px;
    line-height: 96px;
    margin: 0px 0px 16px;
}
.img-sub-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.48px;
    line-height: 24px;
    margin: 0px 0px 24px;
}
.img-btn {
    align-items: center;
    background-color: #3b71fe;
    border-radius: 24px;
    color: #fcfcfd;
    display: inline-flex;
    justify-content: center;
    line-height: 16px;
    padding: 0px 24px;
    text-align: center;
    font-weight: 700;
    padding: 16px 24px;
}
.img-btn:hover {
    background-color: #1a4ed5;
    cusor: pointer;
}
.search-wrapper {
    position: relative;
    border-radius: 24px;
    background-color: #fcfcfd;
    box-shadow: #0f0f0f 0px 40px 64px -32px;
    font-size: 14px;
    line-height: 24.0001px;
    max-width: 1100px;
    height: 248px;
    margin: 0px auto;
}
.search-content {
    position: absolute;
    margin: 43px 80px;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #3b71fe;
}
.search-detail {
    position: absolute;
    margin-top: 75px;
    width: 800px;
    display: inline-block;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.24px;
    line-height: 31.9999px;
    padding: 0px 16px 24px 56px;
    
}
