*{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
}

.confirm-pay-container{
    display: flex;
    width: 70%;
    margin-left: 200px;
    margin-right: 400px;
    margin-top: 200px;
}
.confirm{
    width: 50%;
    margin-right: 80px;
}
.pay{
    width: 50%;
    border: 1px solid #00000042;
    border-radius: 24px;
    padding: 32px;
}
.pay-title{
    display: flex;
}

.pay-img{
width: 40%;
}

.pay-item-des{
width: 50%;
margin-left: 10px;
}
.pay-name{
    margin-bottom: 8px;
    font-weight: bold;
}
.pay-host{
    font-size: 12px;
    padding-bottom: 8px;
}
.pay-service{
    font-size: 12px;
}
.dongke {
    background-color: #777e9042;
    height: 1px;
    width: auto;
    margin-top: 60px;
}

.order-information{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 8px;
}
.order-detail{
    width: 45%;
    padding: 12px;
}

.price-title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 25px;
}

.price-item{
    display: flex;
    width: 100%;
    padding: 8px 12px 8px 12px;
    margin-bottom: 4px;

}
.price-item-name{
font-size: 14px;
margin-right: auto;
}
.price-item-cost{
font-size: 14px;
margin-left: auto;
}

.st{
    text-align: center;
    margin-top: 32px;
    font-size: 12px;
}

.bill-material{
    display: flex;
}
.bill-icon{
    flex: 2;
    margin-top: 10px;
    text-align: center;
}

.bill-guest{
    width: 50%;
    flex: 3;
}

.bill-day{
    width: 50%;
    flex: 3;
}