mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
}

.mfp-content {
    position: relative;
    display: flex;
    vertical-align: middle;
    margin: 100 auto;
    text-align: left;
    z-index: 1045;
    border-radius: 20px;
    justify-content: center;
}

.mfp-zoom-in.mfp-ready .popup {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.mfp-zoom-in .popup {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

@media only screen and (max-width: 767px) {
    .popup_login {
        padding: 32px 24px;
    }
}

.popup_login {
    max-width: 544px;
    padding: 72px 96px;
    float: center;
}

.popup {
    width: 100%;
    margin: auto;
    background: #fcfcfd;
    border-radius: 16px;
    box-shadow: 0px 64px 64px -48px rgb(15 15 15 / 8%);
    z-index: 2;
    float: center;
}

.login__item:first-child {
    display: block;
}

.login__item {
    display: none;
}

.login__title {
    text-align: center;
}

.h3 {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

.hero,
.h1,
.h2,
.h3,
.h4 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

.login__form {
    margin-top: 32px;
}

.field__wrap {
    position: relative;
}

.login__form .field__input {
    border-radius: 24px;
}

.field_view .field__input {
    padding-right: 48px;
}

.field__input {
    height: 48px;
    padding: 0 14px;
}

.field__input,
.field__textarea {
    width: 100%;
    /* border-radius: 12px; */
    border: 2px solid #e6e8ec;
    box-shadow: none;
    background: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 500;
    color: #23262f;
    transition: border-color 0.2s;
}

input,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

/*  */
.field__view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 48px;
}

/* div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
    outline: none;
} */
input,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    background: none;
}

input[type="submit"],
button {
    cursor: pointer;
}

.login__form > .button {
    width: 100%;
    margin-top: 12px;
}

[class^="button"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    background: #3b71fe;
    border-radius: 24px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #fcfcfd;
    transition: all 0.2s;
}

.login__foot {
    margin-top: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 1.66667;
    color: #353945;
}

.login__password {
    color: #353945;
}

.login__link,
.login__password {
    font-weight: 600;
    transition: color 0.2s;
}

a {
    text-decoration: none;
}

.login__note {
    margin-top: 32px;
    text-align: center;
    font-size: 12px;
    line-height: 1.66667;
    color: #353945;
}

.login__btns {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    spacing-between: 16px;
}

.login__link {
    text-decoration: none;
    font-weight: bold;
}
